doctype 5
html
	head
		title admin
	body
		.container
			form(action='/api/post', method='post')
				fieldset
					label(for='title') 标题
					input(type='text', name='title')
					label(for='slug') slug
					input(type='text', name='slug')
					label(for='content') 文章内容
					textarea(name='content', style='display:none')#content-area
					#epiceditor
					button(type='submit')#submit-btn 提交
		script(src='epiceditor/js/epiceditor.min.js', type='text/javascript')
		script(type='text/javascript')
				var editor = new EpicEditor().load();
				var submitBtn = document.getElementById('submit-btn');
				submitBtn.onclick = function() {
					editor.save();
					document.getElementById('content-area').value = editor.getElement('previewer').body.innerHTML;
					return true;
				};